* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background: #0B2434;
  padding: 2rem 2rem 2rem 2rem;
  display: flex;
  justify-content: center;
  align-self: center;
}

